body {
    font-family: Arial, sans-serif;
}

a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    border: 1px solid #ccc;
    padding: 5px;
}

a.logout {
    color: red;
}

h3 {
    margin: 0;
}

.user-info {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.user-info p {
    margin: 0;
}

.user-info p:first-child {
    font-weight: bold;
}

#productosContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#productosContainerAdmin {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#productosContainerHome {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.productCard {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.productCard h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.productCard p {
    margin-bottom: 8px;
    color: #666;
}

.productCard .price {
    font-weight: bold;
    color: #007bff;
}

.productCard .stock {
    color: #28a745;
}

.productCard:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 40%;
}

label {
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#userNameForm {
    margin-bottom: 10px;
}

#userNameInput,
#userEmailInput,
#messageInput {
    padding: 8px;
    margin-right: 5px;
    font-size: 14px;
}

#chatContainer {
    max-width: 600px;
    margin: 0 auto;
}

#chatBox {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#messageForm {
    display: flex;
    align-items: center;
}

#messageInput {
    flex: 1;
}

p {
    margin: 5px 0;
}


.githubButton a {
    display: inline-block;
    margin-right: 0px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
    border: 0px solid #ccc;
    padding: 0px;
}

.successMsj {
    color: green
}

.errorMsj {
    color: red
}

.ticket {
    width: 300px;
    background-color: #fff;
    border: 2px solid #000;
    padding: 20px;
    margin: 20px;
}

.ticket-info {
    margin-bottom: 10px;
}

.ticket-info span {
    font-weight: bold;
}

.ticket-code {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.ticket-timestamp {
    font-size: 12px;
    text-align: center;
}

.ticket-amount {
    font-size: 18px;
}

.ticket-purchaser {
    font-style: italic;
}

.ticket-footer {
    text-align: center;
    margin-top: 20px;
}

.ticket-footer p {
    margin: 0;
}